@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Quran';
  src: url('/fonts/QuranFont.ttf');
}
@font-face {
  font-family: 'arabic';
  src: url('/fonts/arabic.ttf');
}
* {
  --main-color: #022930;
  --semi-color: #325970;
  --light-color: rgb(203 213 225);

  --txt-grey: #9b9999;
  --err: #d81010;
}
.pt {
  padding: 98px 0 100px 0;
}
.spinner {
  animation: spin infinite 3s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
