@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Quran";
    src: url("/fonts/QuranFont.ttf");
}
@font-face {
    font-family: "arabic";
    src: url("/fonts/arabic.ttf");
}
* {
    --main-color: #022930;
    --semi-color: #325970;
    --light-color: rgb(203 213 225);

    --txt-grey: #9b9999;
    --err: #d81010;
}
.pt {
    padding-top: 98px;
    min-height: 150vh;
}
